
.search{
    text-align: center;
    padding: 24px 0 0 0;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:#aaecfc;
}

.title{
    text-align: center;
    padding: 24px 0 0 0;
}
.caveat{
    font-size: 8pt;
    
}

.items{
    align-items: center;
}

.search_box{
    margin: auto;
    display: flex;
    position: relative;
    margin-top: 24px;
}

.search_title{
    font-size: 24px;
    position: absolute;
    top: 5px;
    left: -90px;
}

.search_box div{
    display: flex;


}

.search-form-005 {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
}

.search-form-005 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    border-radius: 3px 0 0 3px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 1em;
    outline: none;
}

.search-form-005 input::placeholder {
    color: #777a83;
}

.search-form-005 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: #86a0de;
    cursor: pointer;
    /*padding: 20px 0 0 0;*/
}

.search-form-005 button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

.caveat{
    width: 50%;
}

.postname{
    font-size: 24px;
}

ul{
    width: 80%;
    margin: auto;
}